.menu-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	background-color: #fff;
}

.menu {
	position: relative;
	margin: 20px;
	background-color: #000;
	color: #fff;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
