.board {
	position: relative;
	margin: 20px;
	background-color: #000;
}

.board-horizontal-stripe {
	background-image: linear-gradient(rgb(255, 255, 255) 33%, rgba(0, 0, 0, 0)0%);
	background-position: center;
	background-size: 3px 20px;
	background-repeat: repeat-y;
}

.board-vertical-stripe:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  border-top: 3px dashed rgb(255, 255, 255);
  width: 100%;
  transform: translateY(-50%);
}
