
.header-container {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	align-items: center;
	padding: 10px;
	border: #000 2px solid;
}

.header-wrapper {
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	flex-direction: column;
	width: 20%;
}

.header-score {
	color: #000;
}

.header-match-score {
	color: #000;
}
