
.game-header-container {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
	padding: 10px;
	border: #000 2px solid;
}

.game-header-container button {
	background-color: #fff;
	color: #000;
	border: 2px solid #000;
	padding: 5px 10px;
	font-size: 10px;
	cursor: pointer;
}

.player-paddle-speed {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 5px;
}

.opponent-difficulty {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 5px;
}

.ball-speed {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 5px;
}

.score {
	color: #000
}
